<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Agents - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" name="srchType" {$all_checkbox}><label for="all_checkbox">All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" name="srchType" {$any_checkbox}><label for="any_checkbox">Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Name</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$name_notbox}></td>
	<td class="runner-cc alt">{$searchtype_name}</td>
	<td class="runner-cc alt">{$name_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$name_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END name_fieldblock}
	{BEGIN salutation_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Title</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$salutation_notbox}></td>
	<td class="runner-cc alt">{$searchtype_salutation}</td>
	<td class="runner-cc alt">{$salutation_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$salutation_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END salutation_fieldblock}
	{BEGIN phone_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Phone</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$phone_notbox}></td>
	<td class="runner-cc alt">{$searchtype_phone}</td>
	<td class="runner-cc alt">{$phone_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$phone_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END phone_fieldblock}
	{BEGIN contact_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Contact Name</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$contact_notbox}></td>
	<td class="runner-cc alt">{$searchtype_contact}</td>
	<td class="runner-cc alt">{$contact_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$contact_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END contact_fieldblock}
	{BEGIN co_name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Company Name</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$co_name_notbox}></td>
	<td class="runner-cc alt">{$searchtype_co_name}</td>
	<td class="runner-cc alt">{$co_name_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$co_name_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END co_name_fieldblock}
	{BEGIN addr1_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Address 1</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$addr1_notbox}></td>
	<td class="runner-cc alt">{$searchtype_addr1}</td>
	<td class="runner-cc alt">{$addr1_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$addr1_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END addr1_fieldblock}
	{BEGIN addr2_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Address 2</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$addr2_notbox}></td>
	<td class="runner-cc alt">{$searchtype_addr2}</td>
	<td class="runner-cc alt">{$addr2_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$addr2_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END addr2_fieldblock}
	{BEGIN city_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		City</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$city_notbox}></td>
	<td class="runner-cc alt">{$searchtype_city}</td>
	<td class="runner-cc alt">{$city_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$city_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END city_fieldblock}
	{BEGIN state_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		State</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$state_notbox}></td>
	<td class="runner-cc alt">{$searchtype_state}</td>
	<td class="runner-cc alt">{$state_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$state_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END state_fieldblock}
	{BEGIN postal_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		ZIP Code</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$postal_notbox}></td>
	<td class="runner-cc alt">{$searchtype_postal}</td>
	<td class="runner-cc alt">{$postal_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$postal_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END postal_fieldblock}
	{BEGIN idagents_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Idagents</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$idagents_notbox}></td>
	<td class="runner-cc alt">{$searchtype_idagents}</td>
	<td class="runner-cc alt">{$idagents_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$idagents_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END idagents_fieldblock}




<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=5>{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
