<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" {$all_checkbox}>{BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_postal}
			<a href="#" id="addSearchControl_postal" class="addSearchControl" {$addSearchControl_postal_attrs}>ZIP Code</a><br>
		{END addSearch_postal}
		{BEGIN addSearch_co_name}
			<a href="#" id="addSearchControl_co_name" class="addSearchControl" {$addSearchControl_co_name_attrs}>Company Name</a><br>
		{END addSearch_co_name}
		{BEGIN addSearch_addr1}
			<a href="#" id="addSearchControl_addr1" class="addSearchControl" {$addSearchControl_addr1_attrs}>Address 1</a><br>
		{END addSearch_addr1}
		{BEGIN addSearch_addr2}
			<a href="#" id="addSearchControl_addr2" class="addSearchControl" {$addSearchControl_addr2_attrs}>Address 2</a><br>
		{END addSearch_addr2}
		{BEGIN addSearch_name}
			<a href="#" id="addSearchControl_name" class="addSearchControl" {$addSearchControl_name_attrs}>Name</a><br>
		{END addSearch_name}
		{BEGIN addSearch_phone}
			<a href="#" id="addSearchControl_phone" class="addSearchControl" {$addSearchControl_phone_attrs}>Phone</a><br>
		{END addSearch_phone}
		{BEGIN addSearch_city}
			<a href="#" id="addSearchControl_city" class="addSearchControl" {$addSearchControl_city_attrs}>City</a><br>
		{END addSearch_city}
		{BEGIN addSearch_state}
			<a href="#" id="addSearchControl_state" class="addSearchControl" {$addSearchControl_state_attrs}>State</a><br>
		{END addSearch_state}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</td>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
