<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Parties - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" name="srchType" {$all_checkbox}><label for="all_checkbox">All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" name="srchType" {$any_checkbox}><label for="any_checkbox">Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN Name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Name</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$Name_notbox}></td>
	<td class="runner-cc alt">{$searchtype_Name}</td>
	<td class="runner-cc alt">{$Name_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$Name_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END Name_fieldblock}
	{BEGIN Title_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Title</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$Title_notbox}></td>
	<td class="runner-cc alt">{$searchtype_Title}</td>
	<td class="runner-cc alt">{$Title_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$Title_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END Title_fieldblock}
	{BEGIN Phone_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Phone</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$Phone_notbox}></td>
	<td class="runner-cc alt">{$searchtype_Phone}</td>
	<td class="runner-cc alt">{$Phone_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$Phone_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END Phone_fieldblock}
	{BEGIN Contact_Name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Contact Name</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$Contact_Name_notbox}></td>
	<td class="runner-cc alt">{$searchtype_Contact_Name}</td>
	<td class="runner-cc alt">{$Contact_Name_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$Contact_Name_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END Contact_Name_fieldblock}
	{BEGIN Company_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Company</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$Company_notbox}></td>
	<td class="runner-cc alt">{$searchtype_Company}</td>
	<td class="runner-cc alt">{$Company_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$Company_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END Company_fieldblock}
	{BEGIN Address_line_1_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Address line 1</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$Address_line_1_notbox}></td>
	<td class="runner-cc alt">{$searchtype_Address_line_1}</td>
	<td class="runner-cc alt">{$Address_line_1_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$Address_line_1_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END Address_line_1_fieldblock}
	{BEGIN Address_line_2_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Address line 2</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$Address_line_2_notbox}></td>
	<td class="runner-cc alt">{$searchtype_Address_line_2}</td>
	<td class="runner-cc alt">{$Address_line_2_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$Address_line_2_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END Address_line_2_fieldblock}
	{BEGIN City_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		City</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$City_notbox}></td>
	<td class="runner-cc alt">{$searchtype_City}</td>
	<td class="runner-cc alt">{$City_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$City_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END City_fieldblock}
	{BEGIN State_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		State</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$State_notbox}></td>
	<td class="runner-cc alt">{$searchtype_State}</td>
	<td class="runner-cc alt">{$State_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$State_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END State_fieldblock}
	{BEGIN ZIP_Code_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		ZIP Code</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$ZIP_Code_notbox}></td>
	<td class="runner-cc alt">{$searchtype_ZIP_Code}</td>
	<td class="runner-cc alt">{$ZIP_Code_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$ZIP_Code_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END ZIP_Code_fieldblock}
	{BEGIN idparties_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
		Idparties</td>
	</td>
		<td class="runner-cc alt">
		<input type="checkbox" {$idparties_notbox}></td>
	<td class="runner-cc alt">{$searchtype_idparties}</td>
	<td class="runner-cc alt">{$idparties_editcontrol}&nbsp;</td>
	<td class="runner-cc alt">{$idparties_editcontrol1}&nbsp;</td>
	<td class="runner-cr alt"></td></tr>
{END idparties_fieldblock}




<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=5>{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
