<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterlistheader" {$brickclass_masterlistheader}><span><b>Properties: [{$showKeys}]</b></span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



	<table class="runner-c runner-c-mastergrid runner-b-masterlistfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Address line 1</th>
			<th class="runner-cc ">Address line 2</th>
			<th class="runner-cc ">City</th>
			<th class="runner-cc ">State</th>
			<th class="runner-cc ">ZIP Code</th>
			<th class="runner-cc ">Platte Number</th>
			<th class="runner-cc ">Plot Number</th>
			<th class="runner-cc ">Longitude</th>
			<th class="runner-cc ">Latitude</th>
			<th class="runner-cc ">Idproperties</th>
			<th class="runner-cc ">Examiner</th>
			<th class="runner-cc ">Filecabinet</th>
			<th class="runner-cc ">Whencreated</th>
			<th class="runner-cc ">Idttl Actions</th>
			<th class="runner-cc runner-clast">Properties Idproperties</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$Address_line_1_mastervalue}</td>
			<td class="runner-cc ">{$Address_line_2_mastervalue}</td>
			<td class="runner-cc ">{$City_mastervalue}</td>
			<td class="runner-cc ">{$State_mastervalue}</td>
			<td class="runner-cc ">{$ZIP_Code_mastervalue}</td>
			<td class="runner-cc ">{$Platte_Number_mastervalue}</td>
			<td class="runner-cc ">{$Plot_Number_mastervalue}</td>
			<td class="runner-cc ">{$Longitude_mastervalue}</td>
			<td class="runner-cc ">{$Latitude_mastervalue}</td>
			<td class="runner-cc ">{$idproperties_mastervalue}</td>
			<td class="runner-cc ">{$examiner_mastervalue}</td>
			<td class="runner-cc ">{$filecabinet_mastervalue}</td>
			<td class="runner-cc ">{$whencreated_mastervalue}</td>
			<td class="runner-cc ">{$idttl_actions_mastervalue}</td>
			<td class="runner-cc runner-clast">{$properties_idproperties_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
 




{END container_mastergrid}

</div>