<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN titleconame_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN titleconame_label}Title Company{END titleconame_label}
		</td>
		<td class="runner-cc alt">
			{$titleconame_editcontrol}
		</td>
	</tr>
{END titleconame_tabfieldblock}
{BEGIN titlephone_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN titlephone_label}Phone{END titlephone_label}
		</td>
		<td class="runner-cc alt">
			{$titlephone_editcontrol}
		</td>
	</tr>
{END titlephone_tabfieldblock}
{BEGIN titlepolicy_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN titlepolicy_label}Policy No.{END titlepolicy_label}
		</td>
		<td class="runner-cc alt">
			{$titlepolicy_editcontrol}
		</td>
	</tr>
{END titlepolicy_tabfieldblock}
{BEGIN titleatty_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN titleatty_label}Title Attorney{END titleatty_label}
		</td>
		<td class="runner-cc alt">
			{$titleatty_editcontrol}
		</td>
	</tr>
{END titleatty_tabfieldblock}
{BEGIN titlerefatty_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN titlerefatty_label}Referred By{END titlerefatty_label}
		</td>
		<td class="runner-cc alt">
			{$titlerefatty_editcontrol}
		</td>
	</tr>
{END titlerefatty_tabfieldblock}
{BEGIN titleremit_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN titleremit_label}Remittance{END titleremit_label}
		</td>
		<td class="runner-cc alt">
			{$titleremit_editcontrol}
		</td>
	</tr>
{END titleremit_tabfieldblock}
{BEGIN titlerecv_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN titlerecv_label}Received{END titlerecv_label}
		</td>
		<td class="runner-cc alt">
			{$titlerecv_editcontrol}
		</td>
	</tr>
{END titlerecv_tabfieldblock}
{BEGIN examiner_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN examiner_label}Examiner{END examiner_label}
		</td>
		<td class="runner-cc alt">
			{$examiner_editcontrol}
		</td>
	</tr>
{END examiner_tabfieldblock}
</table>





{END container_1}

</div>