<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN closesched_date_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Sched Closing Date
		</td>
		<td class="runner-cc2">
			{$closesched_date_value}
		</td>
	</tr>
{END closesched_date_tabfieldblock}
{BEGIN closesched_time_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Sched Closing Time
		</td>
		<td class="runner-cc2">
			{$closesched_time_value}
		</td>
	</tr>
{END closesched_time_tabfieldblock}
{BEGIN sellprice_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Selling Price
		</td>
		<td class="runner-cc2">
			{$sellprice_value}
		</td>
	</tr>
{END sellprice_tabfieldblock}
{BEGIN deposit_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Deposit
		</td>
		<td class="runner-cc2">
			{$deposit_value}
		</td>
	</tr>
{END deposit_tabfieldblock}
{BEGIN loanamt_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Loan Amount
		</td>
		<td class="runner-cc2">
			{$loanamt_value}
		</td>
	</tr>
{END loanamt_tabfieldblock}
{BEGIN refi_purch_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			(R)efi / (P)urch
		</td>
		<td class="runner-cc2">
			{$refi_purch_value}
		</td>
	</tr>
{END refi_purch_tabfieldblock}
{BEGIN res_comm_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			(R)es / (C)omm
		</td>
		<td class="runner-cc2">
			{$res_comm_value}
		</td>
	</tr>
{END res_comm_tabfieldblock}
</table>





{END container_1}

</div>