<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN client1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Client 1
		</td>
		<td class="runner-cc2">
			{$client1_value}
		</td>
	</tr>
{END client1_tabfieldblock}
{BEGIN client2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Client 2
		</td>
		<td class="runner-cc2">
			{$client2_value}
		</td>
	</tr>
{END client2_tabfieldblock}
{BEGIN claddr1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Address
		</td>
		<td class="runner-cc2">
			{$claddr1_value}
		</td>
	</tr>
{END claddr1_tabfieldblock}
{BEGIN claddr2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Address
		</td>
		<td class="runner-cc2">
			{$claddr2_value}
		</td>
	</tr>
{END claddr2_tabfieldblock}
{BEGIN clphone1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Phone
		</td>
		<td class="runner-cc2">
			{$clphone1_value}
		</td>
	</tr>
{END clphone1_tabfieldblock}
{BEGIN clphone2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Phone
		</td>
		<td class="runner-cc2">
			{$clphone2_value}
		</td>
	</tr>
{END clphone2_tabfieldblock}
{BEGIN tenant_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Tenant
		</td>
		<td class="runner-cc2">
			{$tenant_value}
		</td>
	</tr>
{END tenant_tabfieldblock}
</table>





{END container_1}

</div>