<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN titleconame_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Title Company
		</td>
		<td class="runner-cc2">
			{$titleconame_value}
		</td>
	</tr>
{END titleconame_tabfieldblock}
{BEGIN titlephone_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Phone
		</td>
		<td class="runner-cc2">
			{$titlephone_value}
		</td>
	</tr>
{END titlephone_tabfieldblock}
{BEGIN titlepolicy_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Policy No.
		</td>
		<td class="runner-cc2">
			{$titlepolicy_value}
		</td>
	</tr>
{END titlepolicy_tabfieldblock}
{BEGIN titleatty_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Title Attorney
		</td>
		<td class="runner-cc2">
			{$titleatty_value}
		</td>
	</tr>
{END titleatty_tabfieldblock}
{BEGIN titlerefatty_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Referred By
		</td>
		<td class="runner-cc2">
			{$titlerefatty_value}
		</td>
	</tr>
{END titlerefatty_tabfieldblock}
{BEGIN titleremit_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Remittance
		</td>
		<td class="runner-cc2">
			{$titleremit_value}
		</td>
	</tr>
{END titleremit_tabfieldblock}
{BEGIN titlerecv_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Received
		</td>
		<td class="runner-cc2">
			{$titlerecv_value}
		</td>
	</tr>
{END titlerecv_tabfieldblock}
{BEGIN examiner_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			Examiner
		</td>
		<td class="runner-cc2">
			{$examiner_value}
		</td>
	</tr>
{END examiner_tabfieldblock}
</table>





{END container_1}

</div>