<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN client1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN client1_label}Client 1{END client1_label}
		</td>
		<td class="runner-cc alt">
			{$client1_editcontrol}
		</td>
	</tr>
{END client1_tabfieldblock}
{BEGIN client2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN client2_label}Client 2{END client2_label}
		</td>
		<td class="runner-cc alt">
			{$client2_editcontrol}
		</td>
	</tr>
{END client2_tabfieldblock}
{BEGIN claddr1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN claddr1_label}Address{END claddr1_label}
		</td>
		<td class="runner-cc alt">
			{$claddr1_editcontrol}
		</td>
	</tr>
{END claddr1_tabfieldblock}
{BEGIN claddr2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN claddr2_label}Address{END claddr2_label}
		</td>
		<td class="runner-cc alt">
			{$claddr2_editcontrol}
		</td>
	</tr>
{END claddr2_tabfieldblock}
{BEGIN clphone1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN clphone1_label}Phone{END clphone1_label}
		</td>
		<td class="runner-cc alt">
			{$clphone1_editcontrol}
		</td>
	</tr>
{END clphone1_tabfieldblock}
{BEGIN clphone2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN clphone2_label}Phone{END clphone2_label}
		</td>
		<td class="runner-cc alt">
			{$clphone2_editcontrol}
		</td>
	</tr>
{END clphone2_tabfieldblock}
{BEGIN tenant_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN tenant_label}Tenant{END tenant_label}
		</td>
		<td class="runner-cc alt">
			{$tenant_editcontrol}
		</td>
	</tr>
{END tenant_tabfieldblock}
</table>





{END container_1}

</div>