<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN closesched_date_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN closesched_date_label}Sched Closing Date{END closesched_date_label}
		</td>
		<td class="runner-cc alt">
			{$closesched_date_editcontrol}
		</td>
	</tr>
{END closesched_date_tabfieldblock}
{BEGIN closesched_time_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN closesched_time_label}Sched Closing Time{END closesched_time_label}
		</td>
		<td class="runner-cc alt">
			{$closesched_time_editcontrol}
		</td>
	</tr>
{END closesched_time_tabfieldblock}
{BEGIN sellprice_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN sellprice_label}Selling Price{END sellprice_label}
		</td>
		<td class="runner-cc alt">
			{$sellprice_editcontrol}
		</td>
	</tr>
{END sellprice_tabfieldblock}
{BEGIN deposit_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN deposit_label}Deposit{END deposit_label}
		</td>
		<td class="runner-cc alt">
			{$deposit_editcontrol}
		</td>
	</tr>
{END deposit_tabfieldblock}
{BEGIN loanamt_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN loanamt_label}Loan Amount{END loanamt_label}
		</td>
		<td class="runner-cc alt">
			{$loanamt_editcontrol}
		</td>
	</tr>
{END loanamt_tabfieldblock}
{BEGIN refi_purch_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN refi_purch_label}(R)efi / (P)urch{END refi_purch_label}
		</td>
		<td class="runner-cc alt">
			{$refi_purch_editcontrol}
		</td>
	</tr>
{END refi_purch_tabfieldblock}
{BEGIN res_comm_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			{BEGIN res_comm_label}(R)es / (C)omm{END res_comm_label}
		</td>
		<td class="runner-cc alt">
			{$res_comm_editcontrol}
		</td>
	</tr>
{END res_comm_tabfieldblock}
</table>





{END container_1}

</div>