<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_toplinks}
<table class="runner-c runner-c-toplinks" cellpadding="0" >
<tr class="{$cheaderclass_toplinks}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN security_block}
<td  class="runner-cc runner-bl runner-b-loggedas" {$brickclass_loggedas}><span><span>Logged on as&nbsp;<b>{$username}</b>&nbsp;</span>
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$logoutlink_attrs}>Log out</a>
</span>
{BEGIN adminarea_link}
	<span class="runner-btnframe">
	<span class="runner-btnleft"></span>
	<span class="runner-btnright"></span>
	<a href="admin_rights_list.php" class="runner-button" {$adminarealink_attrs}>Admin Area</a>
	</span>
{END adminarea_link}

{BEGIN changepwd_link}
	<span class="runner-btnframe">
	<span class="runner-btnleft"></span>
	<span class="runner-btnright"></span>
	<a href="#" class="runner-button" {$changepwdlink_attrs}>Change password</a>
	</span>
{END changepwd_link}
</span></td>
{END security_block}







<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_toplinks}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_toplinks}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					

{BEGIN container_left}
<table class="runner-c runner-c-left" cellpadding="0" >
<tr class="{$cheaderclass_left}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>

{BEGIN menu_block}
{$mainmenu}
{END menu_block}




{BEGIN details_block}
<tr  class="runner-row style2 runner-b-vdetails_found {$brickclass_vdetails_found}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><span  {$details_attrs}>Details found: <span class="runner-details_found_count">{$records_found}</span></span>
</td><td class="runner-cr"></td></tr>{END details_block}


{BEGIN pages_block}
<tr  class="runner-row style1 runner-b-vpage_of {$brickclass_vpage_of}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><span id="pages_block{$id}">
	<span {$pages_attrs}>Page {$page} of {$maxpages}</span>
</span>
</td><td class="runner-cr"></td></tr>{END pages_block}


{BEGIN recordspp_block}
<tr  class="runner-row style1 runner-b-vrecsperpage {$brickclass_vrecsperpage}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><span id="recordspp_block{$id}" name="recordspp_block{$id}">
	Records Per Page:&nbsp;{$recsPerPage}
</span>
</td><td class="runner-cr"></td></tr>{END recordspp_block}


{BEGIN searchPanel}
<tr  class="runner-row style1 runner-b-searchpanel {$brickclass_searchpanel}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><div class="searchPanelContainer">
{$adv_search_panel}
</div></td><td class="runner-cr"></td></tr>{END searchPanel}


<tr class="{$cfooterclass_left}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_left}


				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_bigblock}
<table class="runner-c runner-c-bigblock" cellpadding="0" >
<tr class="{$cheaderclass_bigblock}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>


<tr  class="runner-row style2 runner-b-wrapper {$wrapperclass_recordcontrols}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_recordcontrols}
<table class="runner-c runner-c-recordcontrols" cellpadding="0" >
<tr class="{$cheaderclass_recordcontrols}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN newrecord_controls_block}
<td  class="runner-cc runner-bl runner-b-recordcontrols_new" {$brickclass_recordcontrols_new}><span>		{BEGIN add_link}
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$addlink_attrs}>Add new</a>
		</span>
	{END add_link}

	

</span></td>
{END newrecord_controls_block}


{BEGIN record_controls_block}
<td  class="runner-cc runner-bl runner-b-recordcontrol" {$brickclass_recordcontrol}><span>	
	
		{BEGIN deleteselected_link}
		<span class="runner-btnframe" {$deleteselectedlink_span}>
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$deleteselectedlink_attrs}>Delete selected</a>
		</span>
	{END deleteselected_link}

	
	
</span></td>
{END record_controls_block}

<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_recordcontrols}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_recordcontrols}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-wrapper {$wrapperclass_message}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_message}
<table class="runner-c runner-c-message" cellpadding="0" >
<tr class="{$cheaderclass_message}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN message_block}
<td  class="runner-cc runner-bc runner-b-message" {$brickclass_message}><span><div class="runner-message">{$message}</div></span></td>
{END message_block}


</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_message}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_message}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-wrapper {$wrapperclass_grid}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_grid}


{BEGIN grid_block}
						<table class="runner-c runner-c-grid runner-b-grid" cellpadding="0" >
						<thead>
															{BEGIN grid_header}
								<tr class="runner-toprow style1 {$gridHeader_class}" >
									{BEGIN record_header}
									<th class="runner-cl"><img src="images/spacer.gif"></th>
																		{BEGIN listIcons_column}
									<th class="runner-cc" iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<th class="runner-cc runner-bc">
										<input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																										{BEGIN emailaddr_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN emailaddr_fieldheader}
																				<a {$emailaddr_orderlinkattrs}>
											email
										</a>
									{END emailaddr_fieldheader}
									</th>
									{END emailaddr_fieldheadercolumn}

																	{BEGIN groupmember_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN groupmember_fieldheader}
																				<a {$groupmember_orderlinkattrs}>
											Groupmember
										</a>
									{END groupmember_fieldheader}
									</th>
									{END groupmember_fieldheadercolumn}

																	{BEGIN username_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN username_fieldheader}
																				<a {$username_orderlinkattrs}>
											Username
										</a>
									{END username_fieldheader}
									</th>
									{END username_fieldheadercolumn}

																	{BEGIN password_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN password_fieldheader}
																				<a {$password_orderlinkattrs}>
											Password
										</a>
									{END password_fieldheader}
									</th>
									{END password_fieldheadercolumn}

																	{BEGIN active_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN active_fieldheader}
																				<a {$active_orderlinkattrs}>
											Active
										</a>
									{END active_fieldheader}
									</th>
									{END active_fieldheadercolumn}

																	{BEGIN firstname_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN firstname_fieldheader}
																				<a {$firstname_orderlinkattrs}>
											First Name
										</a>
									{END firstname_fieldheader}
									</th>
									{END firstname_fieldheadercolumn}

																	{BEGIN lastname_fieldheadercolumn}
									<th class="runner-cc ">
									{BEGIN lastname_fieldheader}
																				<a {$lastname_orderlinkattrs}>
											Last Name
										</a>
									{END lastname_fieldheader}
									</th>
									{END lastname_fieldheadercolumn}

																	{BEGIN datecreated_fieldheadercolumn}
									<th class="runner-cc runner-clast">
									{BEGIN datecreated_fieldheader}
																				<a {$datecreated_orderlinkattrs}>
											Date Created
										</a>
									{END datecreated_fieldheader}
									</th>
									{END datecreated_fieldheadercolumn}


									
									<th class="runner-cr"><img src="images/spacer.gif"></th>
									{BEGIN endrecordheader_block}
									<th class="runner-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

						</thead>
						<tbody>	
															{BEGIN grid_row}
								<tr class="runner-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
									{BEGIN grid_record}
									<td class="runner-cl" {$rowstyle}></td>

																		{BEGIN listIcons_column}
									<td class="runner-cc runner-bc runner-icons" iEditCont="all" {$rowstyle}>
																		{BEGIN edit_column}
									{BEGIN edit_link}
									<a class="runner-button-img" {$editlink_attrs} title="Edit"><img class="runner-cicon" src="images/icon_edit_new.gif" alt="Edit"></a>
									{END edit_link}
									{END edit_column}

									
									
																		</td>	
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<td class="runner-cc runner-bc" iEditCont="checkBox" {$rowstyle}>
									{BEGIN checkbox}
									<input type="checkbox" {$checkbox_attrs}>
									{END checkbox}
									</td>
									{END checkbox_column}


										{BEGIN emailaddr_fieldcolumn}
	<td class="runner-cc  {$emailaddr_class}" {$emailaddr_style}>
		{$emailaddr_value}
	</td>
{END emailaddr_fieldcolumn}

	{BEGIN groupmember_fieldcolumn}
	<td class="runner-cc  {$groupmember_class}" {$groupmember_style}>
		{$groupmember_value}
	</td>
{END groupmember_fieldcolumn}

	{BEGIN username_fieldcolumn}
	<td class="runner-cc  {$username_class}" {$username_style}>
		{$username_value}
	</td>
{END username_fieldcolumn}

	{BEGIN password_fieldcolumn}
	<td class="runner-cc  {$password_class}" {$password_style}>
		{$password_value}
	</td>
{END password_fieldcolumn}

	{BEGIN active_fieldcolumn}
	<td class="runner-cc  {$active_class}" {$active_style}>
		{$active_value}
	</td>
{END active_fieldcolumn}

	{BEGIN firstname_fieldcolumn}
	<td class="runner-cc  {$firstname_class}" {$firstname_style}>
		{$firstname_value}
	</td>
{END firstname_fieldcolumn}

	{BEGIN lastname_fieldcolumn}
	<td class="runner-cc  {$lastname_class}" {$lastname_style}>
		{$lastname_value}
	</td>
{END lastname_fieldcolumn}

	{BEGIN datecreated_fieldcolumn}
	<td class="runner-cc runner-clast {$datecreated_class}" {$datecreated_style}>
		{$datecreated_value}
	</td>
{END datecreated_fieldcolumn}


																		<td class="runner-cr" {$rowstyle}></td>
									{BEGIN endrecord_block}
									<td class="runner-cs" {$endrecordblock_attrs}>&nbsp;</td>
									{END endrecord_block}
																	
									{END grid_record}

								</tr>
								{END grid_row}
															{BEGIN grid_footer}
																<tr class="runner-bottomrow style1{$gridFooter_class}" >
									{BEGIN record_footer}
									<td class="runner-cl"><img src="images/spacer.gif"></td>
																		{BEGIN listIcons_column}
									<td class="runner-cc"></td>
									{END listIcons_column}	
									
																		{BEGIN checkbox_column}
									<td class="runner-cc"></td>
									{END checkbox_column}


									{BEGIN emailaddr_fieldheadercolumn}
<td class="runner-cc "></td>
{END emailaddr_fieldheadercolumn}
{BEGIN groupmember_fieldheadercolumn}
<td class="runner-cc "></td>
{END groupmember_fieldheadercolumn}
{BEGIN username_fieldheadercolumn}
<td class="runner-cc "></td>
{END username_fieldheadercolumn}
{BEGIN password_fieldheadercolumn}
<td class="runner-cc "></td>
{END password_fieldheadercolumn}
{BEGIN active_fieldheadercolumn}
<td class="runner-cc "></td>
{END active_fieldheadercolumn}
{BEGIN firstname_fieldheadercolumn}
<td class="runner-cc "></td>
{END firstname_fieldheadercolumn}
{BEGIN lastname_fieldheadercolumn}
<td class="runner-cc "></td>
{END lastname_fieldheadercolumn}
{BEGIN datecreated_fieldheadercolumn}
<td class="runner-cc runner-clast"></td>
{END datecreated_fieldheadercolumn}

									<td class="runner-cr"><img src="images/spacer.gif"></td>
									
									
									{BEGIN endrecordfooter_block}
									<td class="runner-cs"></td>
									{END endrecordfooter_block}
									{END record_footer}
								</tr>
								{END grid_footer}

						</tbody>
					</table>
					

{END grid_block}



{END container_grid}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-wrapper {$wrapperclass_pagination}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_pagination}
<table class="runner-c runner-c-pagination" cellpadding="0" >
<tr class="{$cheaderclass_pagination}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN pagination_block}
<td  class="runner-cc runner-bc runner-b-pagination" {$brickclass_pagination}><span>{$pagination}</span></td>
{END pagination_block}


</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_pagination}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_pagination}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_bigblock}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_bigblock}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
